body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif

}
#mainslide .container .slickslide .slider img {

    display: block;
    width: 100%;
    height: 731px;
}

#mainslide span{
    color: white;


}

#mainslide {
    width: 100%;
    height: 550px;
}
#mainslide .arrow_prev {
    position: absolute;
    top:50%;
    left: 50px;
}

#mainslide .arrow_next {
    position: absolute;
    top:50%;
    right: 50px;
}

.logo {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: right;
    align-items: center;
    margin-right: 100px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.navigation {
    z-index: 2;
}

.navigation .icon_nav button {
    background-color: transparent;
    border: none;

}
p{
    width: 145px;
    position: absolute;
    top: 80%;
    text-align: center;
    color: white;
    font-size: 15px;
}


.icon_nav {
    width: 200px; 
    background-color: transparent;
}

#mainslide .nav_bar .icon_nav span {
    position: relative;
    font-size: 25px;
    margin-left: 9px;

}

.container .fas {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    border: 3px solid black;
    border-color: white;
    border-radius: 200px;
    padding: 12px;
    color: white;
    font-weight: bold;
}

.fa-angle-left {
    float: right;
    padding-right: 6px;
    color: white;
}
.fa-angle-right {
    display: none !important;
    float: right;
    padding-right: 6px;
    color: white;
}

.nav_bar {
    display: grid;
    position: absolute;
    top: 0;
    margin-left: 128px;
    width: 200px;
    

}
.navigation {
    
    text-align: left;
    align-items: center;
}
.nav {
    background-color: rgb(243, 201, 14);
}
.navigation li{
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 16px;
}

.dropbtn {
    border: 2px solid white;
    border-radius: 100%;
    padding: 9px;
    font-size: 18px;
    color: white;
    }


ul {
    display: block;
    list-style:none;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
}

#mainslide .navigation .nav li:hover {
    background-color: rgb(247, 155, 16);
}

#mainslide .navigation .nav > li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}


.sub_menu {
    display: none;
    position: absolute;
    top: 67px;
    margin-left: 184px;
    border: 1px solid black;
    text-align: left;
    background-color: rgb(243, 201, 14);
    width: 240px;
}

.nav {
    display: none;
    margin-top: -46px;
    padding-top: 55px;

}


.nav_bar .navigation .nav .menu:hover .sub_menu{
    display: block;
    
}
.nav_bar .navigation .nav .menu:hover .fa-angle-right{
    display: block !important;
    
}

.nav_bar .navigation .nav .menu:hover .fa-angle-left{
    display: none !important;
    
}

.nav_bar .navigation .icon_nav .drop:focus .menu_text{
    color: rgb(201, 182, 149) !important;
}



.show {
    display: block;}


@media (min-width: 576px) and (max-width: 767.98px) { 
    #mainslide .container .slickslide .slider img{
        height: 580px;
    }
    .nav_bar {
        margin-left: 50px;
    }
    .logo {
        margin-right: 10px;
    }

    .container .fas {
        width: 13px;
        height: 13px;
        font-size: 14px;
        border: 2px solid white;
        border-radius: 100%;
        padding: 8px;
        top: 2%;
    }
    .sub_menu {
        display: none;
        width: 155;
        margin-left: 129px;
    }
    #mainslide .arrow_prev {
        left: 5px;
    }
    #mainslide .arrow_next {
        right: 5px;
    }
    .navigation {
        width: 145px;
    }
    #mainslide .navigation .nav > li a {
        font-size: 10px;
    }

}

@media (max-width: 575.98px) {
    p{
        font-size: 10px;
    }
    #mainslide .container .slickslide .slider img{
        height: 500px;
    }
    .nav_bar {
        margin-left: 50px;
    }

    .nav {
        width: 140px;
    }
    .logo {
        margin-right: 10px;
    }

    .container .fas {
        width: 10px;
        height: 10px;
        font-size: 14px;
        border: 2px solid white;
        border-radius: 200px;
        padding: 8px;
    }

    #mainslide .arrow_next , #mainslide .arrow_prev {

        right: 5px;
    }

    #mainslide .arrow_prev {
        left: 5px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    #mainslide .nav_bar .icon_nav span {
        font-size: 18px;
        float: none;

    }
    .dropbtn {
    border: 2px solid white;
    border-radius: 100%;
    padding: 7px;
    color: white;
    }

    .navigation li {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        font-size: 14px;
    }


    .icon_nav {
        padding: 1px 8px;
    }

    .sub_menu {
        margin-left: 132px;
        height: 200px;
        width: 178px;
    }
    .sub_menu li {
        padding: 0 7px;
        padding-top: 3px;
    }

    #mainslide .navigation .nav > li a {
        font-size: 10px;
    }
    

}

